<div class= "jumbotron center">
<h1>Welcome to Kappa</h1>
<h2>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</h2>
  <%= link_to "Sign Up Now!" , signup_path , class: "btn btn-lrg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org/' %>